<h1>My tasks</h1>
<ul>
<% @tasks.each do |task| %>
  <li class="container"><%= link_to task.title, task_path(task) %>

  <% if task.completed %>
    <input type="checkbox" checked>
    <span class="checkmark"></span>
  <% else %>
    <input type="checkbox">
    <span class="checkmark"></span>
  <% end %>

    <%= link_to "Delete #{task.title}", task_path(task),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</ul>
<p><%= link_to "+ Add a new task", tasks_new_path %></p>
